data.csv
tips.csv
glass.csv
Iris.csv
communitystats1.pdf
communitystats2.pdf
communitystats3.pdf
communitystats4.pdf
communitystats5.pdf
communitystats6-1.pdf
communitystats7.pdf
LinearRegression-master
LinearRegressionApp
Advertising.csv
Silhouette-clustering--master