<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Stock trends</title>
        <link rel="stylesheet" href="G:\My Drive\ineuron_MLDL\2_API\1_API_test_project\My_project2\static\css\style.css">

    </head>
    <body>
        <h2>Enter a Stock Ticker</h2>
        <div class="form">
            <form action="/stock" method="POST">
                <input type="text" name='stock' id="stock">
                <input type="submit" value="Prepare chart">
            </form>
        </div>

    </body>
</html>